@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 600px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}
h1 {
	color: #e74c3c;
  /*color: limegreen;*/
  margin-bottom: 0.5rem;
}

.container {
  display: block;
  /*grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));*/
  /*grid-gap: 1rem;*/
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.date-separator{
		text-align: left;
		font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #222;
}

.left{
	float: left;
}
.right{
	float: right;
}

nav a{
	background-color: royalblue;
  color: white;
  padding: .5em .5em;
  text-decoration: none;	
	border-radius: 10px;
}
nav a.danger{background-color: gainsboro;}

.add-button{
	color:#FFF;
	background-color: #e74c3c;
	display: block;
	width: 100%;
	border: none;
	height: 40px;
	border-radius: 10px;
	/*padding: 5px;*/
	font-size: 1.2rem;
	margin-top: 10px;
}

.cancel-button{
	color:#000;
	background-color: gainsboro;
	display: block;
	width: 100%;
	border: none;
	height: 40px;
	border-radius: 10px;
	padding: 5px;
	font-size: 1.2rem;
	text-decoration: none;
	margin-top: 10px;
}

input{
	display: block;
	font-size: 1.2rem;
	height: 40px;
	width: 100%;
	/*padding: 20px;*/
	/*padding-bottom: 15px;*/
}
label{
	float: left;
}

